<%- include('partials/header') %>
<div class="container-fluid ml-">
    <div class="container-fluid ">
        <form action="/logout" method="get">
            <button class="btn btn-dark">logout</button>
        </form>     
    </div>
 
</div>
