<%- include('partials/header') %>
</head>
<body>
    <div class="container">
      <div class="fluid-container">
        <form action="/register" method="post">
          <div class="title mt-3 mb-3">
            <h3><a href="/login">LOGIN | </a>REGISTER</h3>
            <hr class="my-4">
          </div>
          <div class="error-info">
            <% if (messages.error) { %>
              <%= messages.error %>
            <% } %>
          </div>
          <div class="login-data">
            
            <!-- username -->
            <div class="input-group mb-3 name">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>
              <input type="name" class="form-control" placeholder="Name" name="name" required>
            </div>
    
            <!-- email -->
            <div class="input-group mb-3 email">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="email" class="form-control" placeholder="Email" name="email" required>
            </div>
            
            <!-- mobile -->
            <div class="input-group mb-3 mobile">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-mobile" aria-hidden="true"></i>
                </span>
              </div>
              <input type="tel" class="form-control" placeholder="Mobile Number ([6-9]{1}[0-9]{9})" name="mobile" pattern="[6-9]{1}[0-9]{9}" required>
            </div>
    
            <!-- password -->
            <div class="input-group mb-3 email Password">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-key" aria-hidden="true"></i>
                </span>
              </div>
              <input type="password" class="form-control" placeholder="Password" name="password"  required>
            </div>
            
            <!-- submit -->
            <div class="submit">
              <button type="submit" class="btn btn-outline-dark">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>        
</body>
